body{
font-family: 'Montserrat', sans-serif;
margin: 0px auto;
}
.banner{
height: 85vh;
width: 100%;
background-image: url(images/banner.jpg);
background-size: cover;
background-position: center;
text-decoration: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner img{
max-width: 100%;
max-height: 45%;
object-fit: cover;
border-radius: 300px 300px;
background-size: contain;
display: inline-block;
margin: 20px auto;
}
.styled {background-image: linear-gradient(to right, #EECDA3 0%, #EF629F  51%, #EECDA3  100%)
}
.styled {
margin: 10px;
padding: 20px 60px;
text-align: center;
text-transform: uppercase;
transition: 0.6s;
background-size: 205% auto;
color: white;
border-radius: 80px;
font-size: 1.1em;
}
.styled:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
.contenu{
display: flex;
flex-direction: row;
margin: 10px;
height: 100%;
}
.experience{
display: flex;
flex-direction: column;
width: 50%;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: auto;
}
.experience h2{
text-align: center;
}
.bloc{
display: flex;
flex-direction: column;
width: 50%;
height: 100%;
}
.competences{
display: flex;
flex-direction: column;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: 20%;
}
.ecole{
display: flex;
flex-direction: column;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: auto;
}
.ecole h2{
text-align: center;
}
.competences h2{
text-align: center;
}
.aston, .gr, .merveilleux, .pm, .mmf, .hermes{
display: flex;
flex-direction: column;
justify-content: center;
margin: 3% 0;
}
.aston h5, .gr h5, .merveilleux h5, .pm h5, .mmf h5, .hermes h5{
text-align: center;
}

.astonlogo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.h5imgaston img{
display: flex;
width: 20%;
align-items: center;
margin: auto;
}

.aston a{
text-decoration: none;
color: black;
}

.hermeslogo{
display: flex;
flex-direction: column;
justify-content: center;
}

.grlogo{
display: flex;
flex-direction: column;
justify-content: center;
}

.h5imggr img{
display: flex;
width: 20%;
margin: auto;	
}

.h5imghermes img{
display: flex;
width: 20%;
margin: auto;	
}

.pmlogo{
display: flex;
flex-direction: column;
justify-content: center;
}

.h5imgpm img{
display: flex;
width: 15%;
margin: auto;
}

.fredlogo{
display: flex;
flex-direction: column;
justify-content: center;
}

.h5imgfred img{
display: flex;
width: 15%;
margin: auto;	
}


.mmflogo{
display: flex;
flex-direction: column;
justify-content: center;
}

.h5imgmmf img{
display: flex;
width: 15%;
margin: -1em 15em;	
}


.mmf h5 a{
text-decoration:none;
color: black;
}
.aston h6, .gr h6, .merveilleux h6, .pm h6, .mmf h6, .hermes h6{
text-align: center;
margin-top: 1em;
}
.kedge, .ebs{
display: flex;
flex-direction: column;
justify-content: center;
margin: 3% 0;
}


.h5imgkedge img{
display: flex;
width: 15%;
margin: auto;
padding: .1em;
}

.h5imgebs img{
display: flex;
width: 15%;
margin: auto;	
}


.kedge h5, .ebs h5{
text-align: center;
}
.kedge h6, .ebs h6{
text-align: center;
}
.aston, .kedge{
margin-top: 60px;
}
.contenu2{
display: flex;
flex-direction: row;
height: 100%;
}

.softskills{
display: flex;
flex-direction: column;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: 20%;
}

.softskills h2{
text-align: center;
}

.softskillslist{
	margin: 5% 0;
}

.langues{
display: flex;
flex-direction: column;
justify-content: center;
width: 50%;
}

.french, .uk, .spanish{
display: flex;
flex-direction: row;
width: 50%;
margin : 5% 0;
}
.french p, .uk p, .spanish p{
margin-top: 20px;
margin-left: 20px;
}


.hobbies{
display: flex;
flex-direction: column;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: 20%;
}
.hobbies h2{
text-align: center;
}
ol{
color: white;
}
.icones{
display: flex;
flex-direction: row;
padding: 4em;
}
.icones img{
width: 65px;
margin: 8px;
height: 65px;
margin: auto;
}
.coordonnées{
display: flex;
flex-direction: column;
box-shadow: 0px 0px 20px 0px #FBE8F4;
padding: 20px 20px;
margin: 1em;
border-radius: 30px;
height: 20%;
}
.coordonnées h2{
text-align: center;
}
.listecoordonnées{
margin-top: 60px;
line-height: 3em;
}

.tel img{
width: 3em;
margin: 2em;
height: 3em;
margin: .5em;
}

.mail img{
width: 3em;
margin: 2em;
height: 3em;
margin: .5em;
}

.adresse img{
width: 3em;
margin: 2em;
height: 3em;
margin: .5em;
}

.permis img{
width: 3em;
margin: 2em;
height: 3em;
margin: .5em;
}

.anniv img{
width: 3em;
margin: 2em;
height: 3em;
margin: .5em;
}

footer{
display: flex;
flex-direction: row;
justify-content: center;
background-color: #fbf5f8;
background-image: linear-gradient(180deg, #fbf5f8 0%, #fbe1ef 100%);
}


.imgfooter{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.imgfooter img{
width: 20%;
height: 100%;
align-items: center;
}

footer a{
	display: flex;
	align-items: center;
	justify-content: center;
}






